section.about {
    padding: 7% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.heading {
    font-size: 3rem;
}
section.about p {
    opacity: 0.8;
}
section.about h4 {
    text-transform: uppercase;
    margin-top: 4rem;
    font-size: 2rem;
    color: var(--text-sec);
}
section.about .cards  {
    margin-top: 3rem;
}

section.personal {
    padding: 5% 10%;
    text-align: center;
}
section.personal .cards {
    padding: 0% 20%;
    display: flex;
    flex-wrap: wrap;
} 
section.personal .card {
    align-items: start;
    flex-grow: 1;
    width: 20vw;
}
section.personal .card h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}
section.personal .card p {
    margin-top: 0px;
}
section.personal .card i{
    color: var(--text-sec);
}
section.skill {
    padding: 5% 10%;
    text-align: center;
}
section.skill .cards {
    display: flex;
    flex-wrap: wrap;
}
section.skill .card {
    align-items: start;
    flex-grow: 1;
    width: 22vw;
}

.cards .card .card-bottom{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.cards .card h3 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cards .card .card-top h3 i {
    background: var(--accent-bg-hover);
    font-size: 1rem;
    height: 35px;
    width: 35px;
    margin-bottom: 0px;
    border-radius: 5px;
}
.card-bottom span {
    text-align: left;
    font-size: 0.8rem;
    padding: 4px 8px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background: var(--card-bg);
    opacity: 0.7;
}
.card-bottom span:hover {
    background: var(--accent-bg-hover);
    color: var(--text-sec);
    opacity: 0.8;
    border: 1px solid var(--border-hover);
}