section.contact {
  /* padding: 5% 20%; */
  text-align: center;
}
section.contact .cards {
  display: flex;
  flex-wrap: wrap;
}
section.contact .cards .card {
  gap: 3px;
}
section.con-sec .cards {
  margin-top: 10px;
}

.card .link {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-sec);
}
.card .note {
  font-weight: 500;
  opacity: 0.7;
  font-size: 0.8rem;
}

section.con-sec {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: start;
  gap: 3rem;
}
section.con-sec > * {
  flex: 1;
}
section.con-sec .intro {
  text-align: left;
}

.left {
  flex-grow: 1;
  width: 100%;
}

.left,
form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.left h2,
.right h2 {
  font-size: 2rem;
  margin-bottom: 1vw;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}
input,
textarea,
select {
  background: var(--card-bg);
  padding: 15px;
  border-bottom: 1px solid var(--border);
}
input:focus,
textarea:focus, select:focus {
  outline: none;
  border-bottom: 1px solid var(--text-sec);
  box-shadow: 0 2px 5px var(--border);
}
label {
  position: absolute;
  top: 50%;
  left: 12px;
  translate: 0% -50%;
  opacity: 0.5 !important;
  transition: all 0.2s linear !important;
}

input:focus ~ label,
textarea:focus ~ label,
select:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label, .lab {
  top: -10px;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  color: var(--text-sec);
  opacity: 1 !important;
}
option {
  background: var(--bg-color);
  color: var(--text-sec);
}
.sele {
  display: flex;
  gap: 20px;
  align-items: center;
}
.sele > * {
  flex: 1;
}

textarea {
  min-height: 150px;
}
.left button {
  background: var(--border-hover);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 1px solid var(--border);
}
.left button:hover {
  color: var(--text-pri);
  background: var(--card-bg-hover);
  /* border: 1px solid var(--border-hover); */
  z-index: 1;
}

.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  /* max-width: 400px; */
}
.right .intro {
  width: 100%;
  /* font-size: 14px; */
  letter-spacing: 0.5px;
}

.right .cards .card {
  min-width: 300px;
}

.right h4 {
  font-size: 1.5rem;
}
.right li {
  position: relative;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-left: 35px;
  font-weight: 400 !important;
}

.right li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  /* Direct SVG for the "double-circle" checkmark look */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='%234ade80'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.card h5.subtext {
  margin: 0px;
  color: var(--live);
  border: 1px solid var(--live);
  background: var(--live-bg);
}
.bold {
  letter-spacing: 1px;
}
.card b {
  color: var(--text-sec);
}
.card li {
  font-weight: 550;
  line-height: 1.1;
}
.quick {
  background: linear-gradient(235deg, var(--border), var(--card-bg));
}
.quick:hover {
  background: linear-gradient(255deg, var(--border), var(--card-bg));
}
