section.contact {
  /* padding: 5% 20%; */
  text-align: center;
}
section.contact .cards {
  display: flex;
  flex-wrap: wrap;
}
section.contact .cards .card {
  gap: 3px;
}

.card .link {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-sec);
}
.card .note {
  font-weight: 500;
  opacity: 0.7;
  font-size: 0.8rem;
}
.right .intro {
  width: 40vw;
  flex-grow: 1;
}
section.con-sec {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: start;
}

.left {
  min-width: 350px;
}

.left,
form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form {
    border-radius: 10px;
}
.left h2 {
  font-size: 2rem;
  margin-bottom: 1vw;
}
label {
  font-weight: 700;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
textarea,
.left button {
  padding: 12px 13px;
  border: 1px solid var(--border);
  border-radius: 4px;
  resize: vertical;
  background: var(--card-bg);
  /* border: 3px solid transparent; */
  outline: 5px solid transparent;
  transition: 0.3s linear;
}
button i {
  transition: 0.3s linear;
}
input::placeholder,
textarea::placeholder {
  font-family: monospace;
  color: var(--text-sec);
  opacity: 0.7;
}
input:focus,
textarea:focus {
  outline: 5px solid var(--border);
}
textarea {
  min-height: 150px;
}
.left button {
  background: var(--border-hover);
  border: none;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  box-shadow: inset 1px 1px 2px var(--glass-bg), inset 5px 5px 3px var(--card-bg-hover), 10px 10px 10px var(--shadow);
}
.left button:hover {
  color: var(--text-pri);
  background: var(--text-sec);
  z-index: 1;
}
.left button:hover i {
  color: var(--text-pri);
  transform: rotate(45deg) translateX(10px) translateY(-8px);
}
.right {
  flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
    min-width: 400px !important;
}
.right .card-imp {
  width: 90%;
}
.right h2 {
    font-size: 2rem;
}
.right .card {
  display: flex !important;
  
}

.right h4 {
  font-size: 1.5rem;
}
.right li {
  position: relative;
  /* margin-left: 1rem; */
  padding-left: 35px;
}

.right li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  /* Direct SVG for the "double-circle" checkmark look */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='%234ade80'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.card h5.subtext {
    margin: 0px;
    color: var(--live);
    border: 1px solid var(--live);
    background: var(--live-bg);
}
.card b, ul {
    color: var(--text-sec);
}
.card b ul {
    font-weight: 550;
    line-height: 1.7;
    font-size: 0.8rem;
    opacity: 0.8;
}
.quick {
    background: linear-gradient(235deg, var(--border), var(--card-bg) );
}
.quick:hover {
    background: linear-gradient(255deg, var(--border), var(--card-bg) );
}