/* .float {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--bg-color), transparent, var(--bg-color) ), var(--bg);
  z-index: -9999;
} */