

footer {
    padding: 3% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card-bg);
}
footer p {
    font-size: 0.8rem;
}
footer p u {
    text-decoration: underline;
    font-weight: 200;
    opacity: 0.7;
}