header {
  height: 60px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background: var(--card-bg);
  /* box-shadow: 1px 0 0.75px var(--text-pri); */
}

.nav-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  background: var(--glass-bg);
  box-shadow:
    4px 4px 5px var(--shadow),
    inset 3px 0 6px var(--glass-border);
}

.bar {
  width: 20px;
  height: 3px;
  background: var(--text-pri);
  transition: 0.3s ease;
}

header.shrunk {
  position: fixed;
  top: -10px;
  right: 0px;
  /* width: fit-content; */
  transform: translateY(20px);
  justify-content: flex-end;
  background-color: transparent;
  box-shadow: none;
  animation: move 0.5s linear;
  gap: 3vw;
}
header.shrunk nav {
  border-radius: 30px;
  padding: 5px;
  -webkit-backdrop-filter: blur(5px) saturate(10%);
  backdrop-filter: blur(4px);
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);
  box-shadow:
    inset 0 0 5px var(--glass-border),
    0 5px 10px var(--shadow);
  a {
    opacity: 1;
  }
}

header.shrunk .logo {
  display: none;
}
header.shrunk nav a {
  opacity: 1;
  /* box-shadow: inset 3px 0 6px var(--border); */
  transition: 0.5s linear;
  background: var(--glass-bg);
  box-shadow: inset 0 0 5px var(--glass-border);
  border: 1px solid var(--glass-border);
}
header.shrunk nav a:hover,
header.shrunk nav a.active {
  background: var(--bg-color);
  opacity: 1;
  color: var(--text-sec);
  /* box-shadow: inset 0 3px 6px var(--border-hover); */
}
header.shrunk .mode {
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  backdrop-filter: blur(5px);
}

@keyframes move {
  from {
    gap: 20vw;
  }
  to {
    gap: 3vw;
  }
}

.logo {
  font-family: "Iceberg", sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: 900;
  /* text-shadow: 1px 1px 2px var(--text-sec); */
}
nav {
  display: flex;
  gap: 1vw;
  /* background: var(--glass-bg); */
}
nav a {
  padding: 9px 15px;
  border-radius: 20px;
  color: var(--text-pri);
  font-weight: 550;
  position: relative;
  font-size: 0.9rem;
  background: var(--card-bg);
  transition: 0.5s ease-in-out;
}
nav a:hover,
nav a.active {
  background: var(--bg-color);
  color: var(--text-sec);
}
nav a::before,
nav a::after {
  border-radius: 20px !important;
}
nav a.active::before {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.mode {
  box-shadow:
    4px 4px 5px var(--shadow),
    inset 3px 0 6px var(--glass-border);
  padding: 7px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s linear;
  /* border: 1px solid var(--glass-border); */
  /* box-shadow: inset 0 0 5px var(--glass-border), 0 5px 10px var(--shadow); */
}
.mode i {
  font-size: 0.9rem;
  transition: 0.5s linear;
}
.mode:hover {
  box-shadow:
    0 5px 10px var(--shadow),
    inset 0 3px 6px var(--border-hover);
  opacity: 1;
  transform: scale(1.05);
  i {
    color: var(--text-sec);
    transform: rotate(-45deg);
  }
}
.mode:active i {
  rotate: 90deg;
}
