header {
  height: 60px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background: var(--card-bg);
  /* box-shadow: 1px 0 0.75px var(--text-pri); */
}

#menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  box-shadow: inset 3px 0 6px var(--border);
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}
.line {
  background-color: var(--text-pri);
  height: 2px;
  width: 18px;
  border-radius: 20px;
}
#menu:hover line {
  background: var(--text-sec);
}
#menu:hover {
  box-shadow: inset 0 3px 6px var(--border-hover);
}

header.shrunk {
  position: sticky;
  top: -10px;
  transform: translateY(20px);
  justify-content: flex-end;
  background-color: transparent;
  box-shadow: none;
  animation: move 0.5s linear;
  gap: 3vw;
}
header.shrunk nav {
  border: 1px solid var(--glass-border);
  -webkit-backdrop-filter: blur(5px) saturate(10%);
  backdrop-filter: blur(5px);
  background: var(--glass-bg);
  border-radius: 30px;
  padding: 5px;
  box-shadow: 0 5px 10px var(--shadow);
  a {
    opacity: 1;
  }
}

header.shrunk .logo {
  display: none;
}
header.shrunk nav a {
  opacity: 1;
  box-shadow: inset 3px 0 6px var(--border);
  transition: 0.5s linear;
}
header.shrunk nav a:hover,
header.shrunk nav a.active {
  opacity: 1;
  color: var(--text-pri);
  box-shadow: inset 0 3px 6px var(--border-hover);
}
header.shrunk .mode {
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  backdrop-filter: blur(5px);
}

@keyframes move {
  from {
    gap: 20vw;
  }
  to {
    gap: 3vw;
  }
}

.logo {
  font-family: "Iceberg", sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: 900;
  /* text-shadow: 1px 1px 2px var(--text-sec); */
}
nav {
  display: flex;
  gap: 1vw;
}
nav a {
  padding: 9px 15px;
  border-radius: 20px;
  color: var(--text-pri);
  font-weight: 550;
  position: relative;
  font-size: 0.9rem;
  background: var(--card-bg);
}
nav a:hover,
nav a.active {
  background: var(--accent-bg-hover);
  background: var(--bg-color);
}
nav a::before,
nav a::after {
  border-radius: 20px !important;
}
nav a.active::before {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.mode {
  box-shadow: inset 3px 0 6px var(--border);
  padding: 7px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s linear;
}
.mode i {
  font-size: 0.9rem;
  transition: 0.5s linear;
}
.mode:hover {
  box-shadow: inset 0 3px 6px var(--border-hover);
  opacity: 1;
  i {
    color: var(--text-sec);
    transform: rotate(-45deg);
  }
}
.mode:active i {
  rotate: 90deg;
}
