section.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  transition: 0.5s linear;
}

.proj-btns {
  display: flex;
  gap: 15px;
}
.proj-btns button {
  padding: 10px 15px;
  flex-shrink: 0;
  border-radius: 10px;
  font-weight: 550;
  position: relative;
  cursor: pointer;
  background: var(--accent-bg-hover);
}
.proj-btns button::before,
.proj-btns button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  height: 0%;
  width: 10%;
  padding: 2px;
  transition: 0.3s ease;
}
.proj-btns button.active::after {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--text-sec), var(--text-pri));
  filter: blur(20px);
  opacity: 0.5;
  padding: 5px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.proj-btns button:hover::before,
.proj-btns button.active::before {
  background: var(--glass-border);
  z-index: -1;
  height: 100%;
  width: 100%;
}
.proj-btns button.active {
  background: var(--text-sec);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}
.proj-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  /* width: 80vw; */
}
.proj-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--glass-border);
  background: var(--card-bg);
  box-shadow: 0 0 20px var(--shadow);
  border-radius: 30px;
  padding: 20px;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.proj-card .top {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 15px;
  border-bottom: 1px solid var(--glass-border);
  padding-bottom: 15px;
}
.proj-card .proj-logo {
  background: var(--bg-glass);
  box-shadow:
    0px 0px 20px var(--shadow),
    inset 0 0 10px var(--accent-bg-hover);
  border: 1px solid var(--glass-border);
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.proj-card .proj-logo svg {
  height: 100%;
  width: 100%;
}
h3.title {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 500;
}
.proj-card .top > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  border-left: 1px solid var(--glass-border);
  padding-left: 15px;
  height: 100%;
}
.proj-card .top > div:last-child div {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.proj-card .top > div:last-child div p {
  font-size: 12px;
  font-family: monospace;
  color: var(--text-sec);
}

.card-det {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  gap: 20px;
}
.card-det > * {
  flex: 1;
}
.card-det .img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
  border: 1px solid var(--glass-border);
  box-shadow:
    0 0 2px var(--accent-bg-hover),
    inset 0 0 2px var(--shadow);
  padding: 10px;
}
.card-det .img img {
  outline: 1px solid transparent;
  margin: auto;
  filter: drop-shadow(0 0 20px var(--accent-bg-hover));
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--glass-border);
}
.card-det > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.card-det > div:nth-child(2) > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-det p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--text-muted);
}
h4 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-det li {
  font-size: 15px;
  line-height: 1.7;
  font-weight: 300;
  list-style-type: "» ";
  list-style-position: inside;
  color: var(--text-muted);
}
.card-det .tech {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.card-det span {
  font-size: 14px;
  font-weight: 300;
  /* border: 1px solid var(--border); */
  color: var(--text-muted);
  background: var(--bg-sec);
  padding: 5px 10px;
  border-radius: 20px;
}

.link-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.link-btns a:nth-child(1) {
  padding: 10px 15px;
  border: 1px solid var(--border);
  border-radius: 30px;
  font-weight: 550;
  color: var(--bg-color);
  background: var(--text-sec);
}
@media (hover: hover) {
  .proj-card:hover {
    box-shadow:
      0 0 20px var(--shadow),
      0px 10px 20px var(--shadow);
  }
  .proj-card:hover .proj-logo {
    transform: rotate(20deg) scale(1.1);
    box-shadow:
      0 0 400px var(--text-sec),
      inset 0 0 10px var(--accent-bg-hover);
  }
  .proj-card:hover h3 {
    color: var(--text-sec);
  }
  .proj-card:hover .img {
    border: 1px solid var(--glass-border);
    box-shadow:
      inset 0 0 2px solid var(--border-hover),
      0 0 20px var(--shadow);
  }
  .proj-card:hover img {
    filter: drop-shadow(0 0 100px var(--accent-bg-hover));
  }
  .link-btns a:nth-child(1):hover {
    border: 1px solid var(--border-hover);
    box-shadow:
      0 0 20px var(--border),
      inset 0 0 3px var(--border-hover);
  }
  .link-btns a:nth-child(1) i {
    color: var(--bg-color) !important;
  }
  .link-btns a:nth-child(2):hover i {
    color: var(--text-sec);
    transform: scale(1.2);
  }
}

.link-btns a:nth-child(1) i {
  font-size: 0.8rem;
  color: var(--text-sec);
}
.link-btns a:nth-child(2) i {
  font-size: 1.2rem;
}
.hide {
  display: none !important;
}
.show {
  display: flex !important;
}

.not-now {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 600px) {
  .proj-btns {
    width: 80vw;
  }
  .proj-btns button {
    font-size: 0.8rem;
  }
  .proj-card {
    width: 90vw !important;
    min-width: 300px !important;
  }
  .proj-card .title {
    font-size: 1.3rem;
  }
  .proj-card .proj-intro,
  .key-features li,
  a,
  a i {
    font-size: 0.8rem;
  }
  .proj-card .key-features h4 {
    font-size: 1.2rem;
  }
  .tech span {
    font-size: 0.8rem;
  }
}
