.card-project {
  display: flex;
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  background: var(--bg-card);
  border: 1px solid var(--card-border);
  border-radius: 1rem;
}
.card-project:hover {
  .go-live {
    opacity: 1;
    gap: 4rem;
  }
  .go-live .github {
    transform: rotate(360deg);

  }
}
.proj-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-name {
  width: fit-content;
}
.project-name .topic::before {
  top: 150%;
  height: 5%;
}
.project-name .name-mini {
  opacity: 0.8;
  font-size: 0.8rem;
  text-align: end;
}
.project-detail span {
  display: block;
  transition: 0.3s ease-in-out;
  margin-left: 2rem;
  width: fit-content;
  margin-bottom: 5px;
}

.image-showcase {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  align-items: center;
  margin: auto;
  background: var(--icon-hover);
}
.image-thumbs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.thumb {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 7px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.thumb:hover,
.thumb.active {
  opacity: 1;
  transform: scale(1.05);
}
.image-preview {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}


.go-live {
  opacity: 0;
  display: flex;
  align-items: center;
  /* padding: 1rem; */
  gap: 0rem;
}
.go-live a {
  border-radius: 30px;
}
.go-live .go-live-btn {
  border: 1px solid var(--text-primary);
  padding: 7px 15px;
  color: var(--text-primary);
  background: var(--bg-sp);
}
.go-live .go-live-btn:hover {
  color: var(--bg-sp);
  border: 1px solid var(--bg-sp);
  background: var(--text-primary);
}
.go-live .github {
  /* padding: 3px; */
  font-size: 1.5rem;
  color: var(--text-primary);
  opacity: 0.7;
}
.go-live .github:hover {
  opacity: 1;
  scale: 1.1;
}
.go-live a img {
  transition: 0.3s ease-in-out;
  height: 1.2rem;
}
