@media (max-width: 1280px) {
  section.second,
  section.about,
  section.personal .cards {
    padding: 10% 4% !important;
  }
  section.personal .cards {
    padding: 10% 0% !important;
  }
  section.personal .cards .card {
    width: 310px;
  }
  .card .go-to {
    opacity: 1;
  }
  section.con-sec {
    gap: 2rem;
  }
  form {
    border: none;
    padding: 0px;
  }
  input,
  textarea,
  .left button {
    padding: 10px;
  }
}

@media (max-width: 1130px) {
  section {
    padding: 10% 4% !important;
  }
  section#home {
    grid-template-columns: 1fr 2.5fr;
  }
  .intro {
    width: 50vw;
  }
  .left h1 {
    font-size: 4.5vw;
    letter-spacing: 1px;
  }
  .left h4 {
    text-align: left;
    font-size: 2.7vw;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
  }
  .left h4 span {
    font-size: 2.5vw;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
  }
  section.second .cards,
  section.about .cards {
    padding: 7% 0%;
  }
}

@media (max-width: 1000px) {
  section.second {
    padding: 10% 15% !important;
  }
  section.second .cards,
  section.about .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .go-to {
    padding: 4px 9px;
  }
  .go-to i {
    padding: 1px;
  }
  .intro {
    font-size: 15px;
  }
  .name {
    font-size: 40px;
  }
  .go-to-t::before,
  .go-to-t::after {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    opacity: 1;
    padding: 3px;
  }
  .go-to-t:hover::before,
  .go-to-t:hover::after {
    border-radius: 10px;
  }

  section.con-sec .card, section.contact .card {
    padding: 15px;
    gap: 7px;
  }
  section.con-sec .card li {
    font-size: 0.9rem;
  }
  section.con-sec {
    gap: 2rem;
  }
  form {
    border: none;
    padding: 0px;
  }
  input,
  textarea,
  .left button {
    padding: 10px;
  }
}

@media (max-width: 800px) {
  section#home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .heading {
    font-size: 7vw;
  }
  section.about h4 {
    font-size: 5vw;
  }
  section.skill .cards {
    grid-template-columns: 1fr 1fr;
  }

  section#home .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .left .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro {
    width: 70vw !important;
  }
  section.contact .cards {
    display: flex;
    flex-wrap: wrap;
    padding: 10% 10%;
    gap: 15px;
  }
  section.contact .card {
    width: 260px;
    flex-grow: 1;
  }
  section.con-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  section.con-sec {
    padding: 10% 10% !important;
  }
  section.con-sec .left {
    width: 100% !important;
  }
  
  
}

@media (max-width: 710px) {
  section.second,
  section.about {
    padding: 10% 7% !important;
  }
  .card {
    padding: 15px;
  }
  .card p {
    font-size: 13px !important;
  }
  section.personal .cards,
  section.skill .cards {
    gap: 12px;
  }
  section.personal .cards .card {
    width: 30vw;
  }

  .left h1 {
    font-size: 6vw;
    letter-spacing: 1px;
  }
  .left h4 {
    text-align: left;
    font-size: 4vw;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
  }
  .left h4 span {
    font-size: 3vw;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
  }
  .name {
    font-size: 5vw;
  }
  .logo {
    font-size: 1.5rem;
  }
  nav {
    gap: 2px;
  }
  nav a {
    font-size: 0.8rem;
  }
  header.shrunk {
    top: -20px;
    gap: 2px;
  }
  .card h3,
  .card h4 {
    font-size: 1.2rem !important;
  }
}
@media (max-width: 640px) {
  section.personal .cards,
  section.skill .cards {
    padding: 0 16% !important;
    gap: 1rem;
  }
}
@media (max-width: 520px) {
  header {
    padding: 0 2%;
    width: 100%;
    position: relative;
  }
  .nav-toggle {
    display: flex;
    position: absolute;
    right: 50px;
    opacity: 0.8;
  }
  nav {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 60%;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    transition: 0.8s ease;
  }
  nav.active {
    max-height: 500px;
    background: var(--glass-bg);
    border: 1px solid var(--glass-border);
    border-radius: 20px;
    padding: 50px 20px;
    backdrop-filter: blur(10px);
  }
  nav.active a {
    text-align: center;
  }
  header.shrunk nav {
    display: none;
  }
  header.shrunk nav.active {
    max-height: 500px;
    display: flex;
    padding: 20px 20px;
  }

  /* Hamburger Animation */
  .nav-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }

  .nav-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px) translateX(6px);
  }

  .intro {
    line-height: 1.3;
  }
  .go-to {
    font-size: 0.8rem;
    font-weight: 550;
    gap: 1px;
  }
  .go-to i {
    font-size: 0.7rem;
    padding: 2px;
  }
  section.second .cards,
  section.about .cards {
    gap: 12px;
  }
  .card {
    padding: 12px;
  }
  .name {
    font-size: 1.7rem;
  }
  .card h3,
  .card h4 {
    font-size: 1.4rem;
  }

  .card .go-to {
    font-size: 0.9rem;
    border: 1px solid var(--border-hover);
    padding: 0 5px 0 10px;
    border-radius: 30px;
    background: var(--card-bg);
  }
  section.personal .cards,
  section.skill .cards {
    padding: 0 4% !important;
    display: grid;
    grid-template-columns: 1fr;
  }
  section.personal .cards .card {
    width: 300px;
  }
  section.con-sec .right .card {
    flex-grow: 1;
  }
}

@media (max-width: 455px) {
  section {
    padding: 20% 2% !important;
  }
  .cards {
    padding: 20% 0 !important;
  }
  .left h1 {
    font-size: 9vw;
  }
  .left h4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 5vw;
  }
  .left h4 span {
    font-size: 4vw;
  }
  .right .img {
    height: 200px;
  }
  .go-to-links {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 7px;
  }
  .go-to {
    flex-grow: 1;
    border-radius: 50px;
    font-size: 0.9rem;
    justify-content: center;
  }

  .intro {
    font-size: 0.8rem;
    line-height: 1.5;
    width: 90%;
  }
  section.second,
  section.about {
    padding: 25% 4% !important;
  }
  section.second .cards,
  section.about .cards {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .card {
    max-width: 300px;
    gap: 8px;
  }
  .card .card-top > * {
    padding: 0;
    margin: 0;
  }
  .common {
    padding: 0px;
  }
}
