@media (max-width: 1250px) {
  .card .go-to {
    opacity: 1;
    font-weight: 550;
  }
}

@media (max-width: 1000px) {
  /*================== home =============== */
  section#home .right .img {
    height: 200px;
  }

  section.personal .cards {
    padding: 0;
  }
  .intro {
    width: 90% !important;
    /* font-size: 0.9rem; */
  }
  section.con-sec .right {
    align-items: center;
  }
  .right .intro {
    text-align: center;
  }
  .social-links {
    justify-content: center;
  }
  .go-to {
    flex-grow: 1;
  }
}

@media (max-width: 830px) {
  section#home {
    display: flex;
    gap: 4rem;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .logo {
    font-size: 1.5rem;
  }
  nav {
    transform: translateX(200px) scale(0);
    height: 0px;
    top: -70px;
    right: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    position: absolute;
    gap: 10px;
  }
  nav.active {
    transform: translateX(0px) scale(1);
    top: 70px;
    right: 50px;
    height: 300px;
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    padding: 50px 50px;
    border: 1px solid var(--glass-border);
    border-radius: 30px;
    z-index: 999;
  }
  header.shrunk nav {
    padding: 30px 30px;
  }
  .nav-toggle {
    position: absolute;
    right: 70px;
    display: flex;
    backdrop-filter: blur(4px);
  }

  .nav-toggle.active .two {
    opacity: 0;
  }
  .nav-toggle.active .one {
    transform: rotate(45deg) translateX(7px) translateY(4px);
  }
  .nav-toggle.active .three {
    transform: rotate(-45deg) translateX(7px) translateY(-4px);
  }

  .mode:hover {
    box-shadow:
      4px 4px 5px var(--shadow),
      inset 3px 0 6px var(--glass-border);
  }
  .mode:hover i {
    color: var(--text-pri);
  }

  section {
    padding: 100px 70px !important;
  }
  .intro {
    width: 100% !important;
  }
  /* section#home .right {
    align-items: center;
    justify-content: center;
    wid;
  } */
  section#home .right .img {
    width: 200px;
  }
  .card {
    width: 250px;
  }
  .common {
    padding: 0px !important;
  }
  section#home .left {
    flex-grow: 1;
    width: 100%;
  }
  section#home .left,
  .left .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .left h4,
  .left h4 span {
    text-align: center;
    font-size: 5vw;
  }
  .left h1 {
    font-size: max(8vw, 2rem);
  }
  .intro {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }
  .name {
    font-size: 6vw;
  }
  .go-to-t {
    box-shadow: none;
    border-radius: 10px;
  }
  .go-to-t::before {
    height: 100%;
    width: 100%;
    padding: 3px;
    opacity: 1;
  }
  .social-links i {
    color: var(--text-sec) !important;
  }
  .heading {
    font-size: 8vw;
  }
  .card h3 {
    font-size: 5vw;
  }
  section.con-sec h2 {
    text-align: center;
  }
  form {
    border: 1px solid var(--border);
    padding: 15px;
  }
  input,
  textarea,
  .left button {
    padding: 7px;
  }
  section.con-sec .right {
    width: 280px;
    min-width: 200px !important;
  }
  .left {
    width: 280px;
    min-width: 250px;
  }
}

@media (max-width: 450px) {
  section {
    padding: 80px 20px !important;
  }
}
