@media (max-width: 1300px) {
  .card .go-to {
    opacity: 1;
    font-weight: 550;
  }
  .main.hover {
    scale: 0;
    pointer-events: none;
    filter: blur(20px);
  }
}

@media (max-width: 1080px) {
  .pro-cards {
    display: flex;
    flex-wrap: wrap;
    position: normal;
    height: fit-content;
    gap: 20px;
  }

  .pro-cards .card {
    flex-grow: 1;
    position: relative;
    min-width: 300px;
  }
  section.con-sec {
    flex-direction: column;
    gap: 70px;
  }
  .con-sec h2 {
    text-align: center;
  }
  .con-sec .card:nth-child(1) {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  /*================== home =============== */
  section#home .right .img {
    height: 200px;
  }

  section.personal .cards {
    padding: 0;
  }

  .intro {
    width: 90% !important;
    /* font-size: 0.9rem; */
  }

  section.con-sec .right {
    align-items: center;
  }

  .right .intro {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }

  .go-to {
    flex-grow: 1;
  }
}

@media (max-width: 830px) {
  section#home {
    display: flex;
    gap: 4rem;
    flex-direction: column;
  }

  section {
    padding: 80px 6% !important;
  }

  nav {
    gap: 4px;
  }

  nav a {
    padding: 8px 10px;
  }

  .logo {
    font-size: 1.5rem;
  }
}

@media (max-width: 680px) {
  .color {
    gap: 10px;
  }
  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30px;
    right: 50px;
    height: 0px;
    width: 0px;
    opacity: 0;
    background: var(--glass-border);
    pointer-events: none;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 50px;
  }
  nav.active {
    height: 100%;
    width: 100%;
    top: 80px;
    right: 0px;
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(30px);
    gap: 20px;
  }
  header.shrunk nav.active {
    height: fit-content;
    padding: 100px 50px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border-top: 1px solid var(--border-hover);
    border-bottom: 1px solid var(--border-hover);
    background: var(--glass-border);
  }
  nav a {
    border: 1px solid var(--border);
    width: 90%;
    text-align: center;
  }

  .nav-toggle {
    display: flex;
    backdrop-filter: blur(4px);
    position: relative;
  }

  .nav-toggle.active .two {
    opacity: 0;
  }

  .nav-toggle.active .one {
    transform: rotate(45deg) translateX(6px) translateY(4px);
  }

  .nav-toggle.active .three {
    transform: rotate(-45deg) translateX(6px) translateY(-4px);
  }

  .mode:hover {
    box-shadow:
      4px 4px 5px var(--shadow),
      inset 3px 0 6px var(--glass-border);
  }

  .mode:hover i {
    color: var(--text-pri);
  }
  .go-to-links {
    flex-direction: row-reverse;
  }

  section {
    padding: 70px 5% !important;
  }

  .intro {
    width: 100% !important;
  }

  section#home .right .img {
    width: 200px;
  }

  .card {
    width: 250px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.2);
  }

  .common {
    padding: 0px !important;
  }

  section#home .left {
    flex-grow: 1;
    width: 100%;
  }

  section#home .left,
  .left .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left h2,
  .left h2 span {
    text-align: center;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  .left h1 {
    font-size: max(8vw, 2rem);
  }

  .intro {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }

  .name {
    font-size: 30px;
    text-align: center;
  }

  /* .go-to {
    padding: 3px 7px;
  } */

  .go-to-t {
    box-shadow: none;
    border-radius: 10px;
  }

  .go-to-t::before {
    height: 100%;
    width: 100%;
    padding: 3px;
    opacity: 1;
  }

  .social-links i {
    color: var(--text-sec) !important;
  }

  .heading {
    font-size: 8vw;
  }

  .card h3 {
    font-size: 22px;
  }
  .ser-card,
  .pro-cards .card {
    width: 200px;
    padding: 10px;
  }

  .ser-card,
  .ser-card .top {
    border-radius: 10px 10px 22px 22px;
  }

  .ser-card:hover {
    transform: translateY(0px);
    box-shadow:
      0 10px 10px var(--shadow),
      0 0 3px var(--shadow);
  }
}

@media (max-width: 450px) {
  section {
    padding: 60px 4% !important;
  }

  section#home {
    gap: 30px;
  }
  .left .top h2 {
    font-size: 25px;
    width: 80vw;
    margin-top: 25px;
  }
  .left .top h2 span {
    font-size: 20px;
  }
  /* .go-to-links {
    width: 70%;
  } */

  .heading {
    font-size: 1.5rem;
  }

  .card {
    padding: 14px;
    gap: 7px;
  }

  .card:hover {
    transform: none;
  }

  section.contact .card p {
    margin-top: 0px !important;
  }

  section.about h4 {
    font-size: 1.2rem;
  }
  p,
  a {
    font-size: 14px !important;
  }
  .left .top {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .card .go-to {
    margin-top: 7px;
    font-size: 16px !important;
  }
  .imp .go-to-links {
    margin-top: 30px;
  }
  .cards {
    margin-top: 60px;
  }
  .ser-card {
    min-width: 280px;
  }
  .ser-card h1 {
    font-size: 18px;
    text-align: center;
  }

  .pro-cards::before {
    display: none;
  }

  .main {
    width: 150px;
    height: 150px;
    z-index: 10;
  }

  .main h3 {
    font-size: 1.3rem;
  }

  .f-one {
    height: 200px;
    width: 200px;
  }

  .f-two {
    height: 200px;
    width: 200px;
    top: 10%;
  }

  .f-three {
    height: 200px;
    width: 200px;
  }

  @keyframes float {
    from {
      transform: translateY(30px);
    }

    to {
      transform: translateY(-2px);
    }
  }
}
