section .intro {
  text-align: center;
}

.service-cards {
  margin-top: 4vw;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.ser-card,
.ser-card .top {
  padding: 15px;
  flex: 1;
  background: var(--glass-bg);
  border: 2px solid var(--glass-border);
  border-radius: 10px 10px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow:
    0 0 20px var(--shadow),
    0 0 5px var(--shadow);
}

.ser-card,
.pro-cards .card {
  width: 380px;
  min-width: 380px;
  outline: 1px solid transparent;
}

.ser-card h2 {
  font-size: 20px;
  text-align: center;
  color: var(--text-sec);
  font-weight: 550;
}

.ser-card h3 {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.ser-card h4,
.ser-card b {
  font-weight: 550;
  font-size: 1rem;
}

.ser-card h3 span,
.ser-card h4 span {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.9;
}

.ser-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.9;
}

.ser-card li {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 4px;
  font-weight: 300;
  line-height: 1.4;
  opacity: 0.9;
  list-style-type: "» ";
}

.ser-card .del-ser {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ser-card a {
  padding: 10px 9px;
  margin-top: 5px;
  border: 1px solid var(--border);
  border-radius: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  transition: 0.3s ease-in-out;
  background: var(--bg-color);
  position: relative;
}

.ser-card a::before,
.ser-card a::after {
  height: 100%;
  width: 100%;
  padding: 2px;
  opacity: 1;
  border-radius: 30px;
}

.ser-card a::after {
  opacity: 0.4;
}

.ser-card a:hover {
  gap: 25px;
  color: var(--text-sec);
}

.ser-card a:hover i {
  color: var(--text-sec);
}

.ser-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 10px 10px var(--shadow),
    0 0 3px var(--shadow);
    outline: 1px solid var(--border-hover);
    outline-offset: 3px;
}
.pro-cards {
  margin-top: 4vw;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.pro-cards .card {
  position: relative;
  width: 400px;
  min-width: 400px;
}
.pro-cards .card b {
  position: absolute;
  top: 0%;
  right: 0%;
  padding-right: 15px;
  height: 100%;
  font-size: 6vw;
  z-index: -99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-sec);
}
.pro-cards .card::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 120%,  var(--glass-bg), var(--bg-color), var(--bg-color));
  z-index: -1;
}
.how-det {
  width: 70%;
}