section .intro {
  text-align: center;
}

.service-cards {
  margin-top: 4vw;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.ser-card,
.ser-card .top {
  padding: 25px 15px;
  flex: 1;
  background: var(--card-bg);
  border: 1px solid var(--glass-border);
  border-radius: 10px 10px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow:
    0 0 20px var(--shadow),
    0 0 5px var(--shadow);
}

.ser-card,
.pro-cards .card {
  width: 380px;
  min-width: 380px;
  padding: 1vw;
}

.ser-card h2 {
  font-size: 25px;
  text-align: center;
  color: var(--text-sec);
  font-weight: 550;
}

.ser-card h3 {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.ser-card h4,
.ser-card b {
  font-weight: 550;
  font-size: 1rem;
}

.ser-card h3 span,
.ser-card h4 span {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.9;
}

.ser-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.9;
}

.ser-card li {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 4px;
  font-weight: 300;
  line-height: 1.4;
  opacity: 0.9;
  list-style-type: "» ";
}

.ser-card .del-ser {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ser-card a {
  padding: 10px 9px;
  margin-top: 5px;
  /* border: 1px solid var(--border); */
  border-radius: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  transition: 0.3s ease-in-out;
  background: var(--bg-color);
  position: relative;
}

.ser-card a::before,
.ser-card a::after {
  height: 100%;
  width: 100%;
  padding: 1px;
  opacity: 1;
  border-radius: 30px;
}

.ser-card a::after {
  opacity: 0.4;
}

.ser-card a:hover {
  gap: 25px;
  color: var(--text-sec);
}

.ser-card a:hover i {
  color: var(--text-sec);
}

.ser-card:hover {
  box-shadow:
    0 10px 10px var(--shadow),
    0 0 3px var(--shadow);
}
.pro-cards {
  margin-top: 4vw;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.pro-cards > * {
  position: relative;
  width: 400px;
  min-width: 400px;
  padding: 1rem;
  flex-grow: 1;
  border-top: 1px solid var(--glass-border);
  border-right: 1px solid var(--glass-border);
  border-radius: 20px;
  background: radial-gradient(circle at 80%, var(--bg-hover), var(--glass-bg));
  z-index: 1;
  overflow: hidden;
}
.pro-cards > * h3 {
  font-size: 1.4rem;
  font-family: head;
  font-weight: 500;
  margin-bottom: 1rem;
}
@media (hover: hover) {
  .pro-cards > *:hover h3 {
    color: var(--text-sec);
  }
}
.pro-cards > * p {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 200;
  color: var(--text-muted);
  line-height: 1.7;
}
.pro-cards > * b {
  position: absolute;
  top: 0%;
  right: 0%;
  padding-right: 15px;
  height: 100%;
  font-size: 6rem;
  z-index: -99;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle at 80% 10%,
    var(--text-sec),
    var(--accent-bg-hover)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.how-det {
  width: 70%;
}
