:root {
  --bg-color: #07090f;
  --text-pri: #c9f3ff;
  --text-sec: #06a6dc;

  --card-bg: #0b192a4e;
  --card-bg-hover: #0a1b2f60;

  --border: rgba(0, 204, 255, 0.267);
  --border-hover: rgba(0, 204, 255, 0.599);
  --icon-border: #dffffd30;

  --live: rgb(2, 205, 2);
  --live-bg: rgba(15, 44, 15, 0.823);

  --accent-bg-hover: #1c2c326f;

  --glass-border: rgba(0, 0, 0, 0.507);
  --glass-bg: rgba(8, 13, 26, 0.444);

  --shadow: rgb(0, 0, 0);

  
  --bg-home: url(../assest/bg-home.jpg);
  --bg: url(../assest/bg-card.png);
}
[data-theme="dark"] {
  --bg-color: #f0f3f5; 
  --text-pri: #041b30; 
  --text-sec: #0143b7; 

  --card-bg: rgba(221, 239, 248, 0.549);
  --card-bg-hover: rgba(227, 249, 250, 0.647);

  --border: rgba(0, 136, 204, 0.25);
  --border-hover: rgb(111, 207, 255);
  --icon-border: rgba(11, 28, 45, 0.15);

  --live: #0aa60a;
  --live-bg: rgba(10, 166, 10, 0.08);

  --accent-bg-hover: rgba(0, 119, 166, 0.08);

  --glass-border: rgba(255, 255, 255, 0.507);
  --glass-bg: rgba(255, 255, 255, 0.318);

  --shadow: rgba(35, 71, 86, 0.138);

  --bg-home: url(../assest/bg-home-white.jpg);
  --bg: url(../assest/bg-card-white.png);
}
body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--text-pri);
  background: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  /* transition: 0.5s ease-in-out; */
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

/* When visible */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.enter-reload {
  animation: entry 1s ease-in-out;
}
.enter-bottom {
  animation: entry-bottom 1s ease-in-out;
}
.enter-top {
  animation: entry-top 1s ease-in-out;
}
.enter-left {
  animation: entry-left 1s ease-in-out;
}
.enter-right {
  animation: entry-right 1s ease-in-out;
}

@keyframes entry-bottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes entry-top {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes entry-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes entry-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


section {
  padding: 7% 10% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animate-border {
  position: relative;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.animate-border::before,
.animate-border::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 0%;
  height: 0%;
  padding: 2px;
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--text-sec),
    var(--text-pri)
  );
  opacity: 0.4;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  z-index: -1;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.animate-border:hover::before,
.animate-border:hover::after {
  opacity: 1;
  bottom: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.animate-border:hover::after {
  filter: blur(10px);
  opacity: 0.7;
  z-index: -1;
}

.subtext {
  font-size: 0.8rem;
  font-weight: 500;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 40px;
  border: 1px solid var(--border-hover);
  margin-bottom: 2vw;
  color: var(--text-sec);
}

.end {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    45deg,
    transparent,
    var(--border),
    var(--border-hover),
    var(--border),
    transparent
  );
}

.social-links {
  margin-top: 1rem;
  display: flex;
  gap: 1vw;
}
.social-links a i {
  box-shadow: inset 3px 0 6px var(--border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  font-size: 1.2rem;
  backdrop-filter: blur(5px);
  transition: 0.5s linear;
  /* opacity: 0.7; */
}
.social-links a i:hover {
  background: var(--card-bg);
  color: var(--text-sec);
  opacity: 1;
  box-shadow: inset 0 3px 6px var(--border-hover);
  scale: 1.1;
}

.common {
  padding: 5% 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 1. The scrollbar width */
::-webkit-scrollbar {
  width: 8px; /* Slim and modern */
}

/* 2. The background of the scrollbar (Track) */
::-webkit-scrollbar-track {
  background: #050505; /* Matches your body background */
}

/* 3. The moving part (Thumb) */
::-webkit-scrollbar-thumb {
  background: rgba(9, 36, 73, 0.847); /* Subtle dark grey */
  border-radius: 10px;
  border: 2px solid #01024e; /* Adds "padding" around the thumb */
}

/* 4. The Hover Effect: Glow when touched */
::-webkit-scrollbar-thumb:hover {
  background: var(--cursor); /* Uses your star/cursor color */
  box-shadow: 0 0 10px var(--cursor); /* Adds the neon glow */
}

/* Firefox Support (Limited styling) */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-bg-hover) var(--card-bg-hover);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid var(--text-sec);
  outline-offset: 3px;
}

.imp {
   background: var(--bg);
}
